<section class="container room-index">
  <button id="host-button" (click)="hostRoom()">Host a game</button>
  <div class="list-group rooms-details" *ngIf="roomsDetails.length > 0">
    <button
      class="room-detail list-group-item list-group-item-action"
      *ngFor="let roomDetails of roomsDetails"
      [ngClass]="[hostedRoomId === roomDetails.room_id ? 'list-group-item-secondary' : '']"
      (click)="joinRoom(roomDetails.room_id)"
    >
      {{roomDetails.host_username}}
      <label
        class="float-right badge badge-primary"
        *ngIf="roomDetails.room_id === hostedRoomId"
      >
        hosted
      </label>
    </button>
  </div>
  <p
    *ngIf="roomsDetails.length === 0"
  >
    No rooms to join!
  </p>
</section>
