@import './colors.scss';

$lobby-container-area: calc(100% - 55.28px);

#lobby-container {
  display: grid;
  background-color: $grey-1;
  width: 100%;
  height: $lobby-container-area;
  grid-template-areas:
    'lobby-content-container lobby-member-sidebar'
    'lobby-content-container .';
  grid-template-columns: 1fr min-content;
  grid-template-rows: 100%;
}

#lobby-member-sidebar {
  grid-area: lobby-member-sidebar;
  width: 200px;
  background-color: white;
  overflow-y: scroll;
}

#lobby-content-container {
  overflow-y: scroll;
  grid-area: lobby-content-container;
}

#lobby-content-container > .all-small-games {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
}

.small-game-stream {
  padding: 0.5em;

  .small-game-info {
    background-color: white;
    display: flex;
    justify-content: space-between;

    .avatar {
      grid-area: avatar;
      font-size: 3em;
      $size: 48px;
      width: $size;
      height: $size;
    }

    .username {
      overflow: hidden;
      grid-area: username;
      padding-top: 3px;
    }

    .elo {
      grid-area: elo;
      color: $grey-3;
      font-size: small;
    }

    .player-info {
      display: grid;
    }

    .white-player-info {
      grid-template-columns: 48px;
      grid-template-areas:
        'avatar username'
        'avatar elo';

      .username,
      .elo {
        text-align: left;
      }
    }

    .black-player-info {
      grid-template-columns: auto 48px;
      grid-template-areas:
        'username avatar'
        'elo      avatar';

      .username,
      .elo {
        text-align: right;
      }
    }
  }
}

.member-display.list-group-item {
  padding: 0.25em;
}

.user-status-display {
  .login-message {
    color: white;
    padding: 1em;
  }
}

.member-display {
  display: grid;
  grid-template-areas:
    'avatar username username'
    'avatar elo status';

  grid-template-columns: min-content;
  grid-template-rows: min-content;

  .avatar {
    grid-area: avatar;
    font-size: 3em;
  }

  .username {
    grid-area: username;
    text-align: left;
    font-size: 14px;
    padding-top: 3px;
  }

  .status {
    grid-area: status;
    text-align: right;
    font-size: 0.7em;
    font-style: italic;
    color: $grey-3;
  }
}
