@import './colors.scss';

#lobby-container {
  display: grid;
  background-color: $grey-1;
  width: 100%;
  height: 100%;
  grid-template-areas: 'lobby-content-container lobby-member-sidebar';
}

#lobby-member-sidebar {
  grid-area: lobby-member-sidebar;
  background-color: white;
}

#lobby-content-container {
  grid-area: lobby-content-container;
}

.user-status-display {
  .login-message {
    color: white;
    padding: 1em;
  }
}
