html,
body {
  overflow: hidden;
}

.App {
  text-align: center;
  height: 100vh;
}

#login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.memberDetails_member.list-group-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

@import '~bootstrap/scss/bootstrap.scss';
@import './styles/lobby.scss';
